%div{style: "padding-top: 10px"}
  %div{style: "center: align;"}
    github.com&nbsp;
    %a{href: "https://github.com/terryg/8sections"}
      terryg/8sections
  Last updated: &nbsp;
  %em
    2019-10-28
