%nav{class: 'navbar navbar-default'}
  .container-fluid
    .navbar-header
      %a{class: 'navbar-brand', href: '/'}= "8 Sections"
    %ul{class: 'nav navbar-nav'}
      %li
        %a{href: '/enrollment?districts=Swampscott'}= "enrollment"
      %li
        %a{href: '/salaries?districts=Swampscott'}= "salaries"
      %li
        %a{href: '/employees?districts=Swampscott'}= "employees"
