%div{style: "font-family: serif; font-size: large"}
  8sections.org visualizes data published by the <a href="http://www.doe.mass.edu/DataAccountability.html">Massachusetts Department of Elementary and Secondary Education</a>. The intent is to better understand trends over time and make it easier to compare districts. This is a work in progress! Source code is on <a href="https://github.com/terryg/8sections">github.com</a>. Please check in again. 
%br
%div
  %a{href: "mailto:tgl@rideside.net" }
    Terry Lorber
  %br
  Swampscott, MA
  %br
  %em 2019-10-26
