%html
  %head
    %title 8 Sections
    %link{rel: 'stylesheet', href: '//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css'}
    %script{src: '//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js'}
      
  %body
    %div
      %h1 8 Sections
    %hr
    %div
      %h2 #{@district} K Enrollment

    %div{class: 'ct-chart ct-golden-section', id: 'chart1'}
    %script
      new Chartist.Line('#chart1', {
      labels: #{@rows.collect{|r| r[0]}},
      series: [[
      - @rows.each do |row|
        #{row[1]},
      ]]
      }, {
      axisY: {
      high: 200,
      low: 0
      }});
    
    %div
      Source <a href="http://www.doe.mass.edu/infoservices/reports/enroll/">Mass DESE Enrollment Data</a>

    %hr
    %div
      Terry Lorber<br/>
      2018-02-19<br/>
      %em tgl (at) rideside (dot) net
