%ul{class: 'nav nav-sidebar'} 
  %li
    %a{href: '?districts=Lynn'}
      Lynn 
  %li
    %a{href: '?districts=Lynnfield'}
      Lynnfield
  %li
    %a{href: '?districts=Marblehead'}
      Marblehead
  %li
    %a{href: '?districts=Salem'}
      Salem
  %li
    %a{href: '?districts=Scituate'}
      Scituate
  %li
    %a{href: '?districts=Swampscott'}
      Swampscott
