%ul{class: 'nav nav-sidebar'} 
  %li
    %a{href: '?districts=lexington'}
      Lexington 
  %li
    %a{href: '?districts=lynn'}
      Lynn 
  %li
    %a{href: '?districts=lynnfield'}
      Lynnfield
  %li
    %a{href: '?districts=marblehead'}
      Marblehead
  %li
    %a{href: '?districts=salem'}
      Salem
  %li
    %a{href: '?districts=scituate'}
      Scituate
  %li
    %a{href: '?districts=swampscott'}
      Swampscott
